<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>flexbox</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<div class="block_row">
			<div class="column column_1">
				<div class="block_item">1</div>
			</div>
			<div class="column column_2">
				<div class="block_item">2</div>
			</div>
			<div class="column column_3">
				<div class="block_item">3</div>
			</div>
		</div>
	</div>	
</body>
</html>